  .slider {
    top: 18px;
  }

  .slides {
    margin-top: 0%;
    margin-left: 18%;
    width: 64%;
    z-index: 2;
    display: grid;
    align-items: center;
    padding: 5% 5% 5% 5%;
    top: 95px;
    > .slide {
      grid-area: -1 / 1;
    }

    > button {
      appearance: none;
      background: transparent;
      border: none;
      color: white;
      position: absolute;
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      top: 30%;
      transition: opacity 0.3s;
      opacity: 0.7;
      z-index: 5;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }

      &:first-child {
        left: 97%;
        top: 20vw;
      }
      &:last-child {
        right: 97%;
        top: 20vw;
      }
    }
  }

    .EEhamburger {
      border-radius: 5px;
      height: 4rem;
      width: 4rem;
      left: 5px;
      top: 35px;
    }

    .slideContentInner {
      transform-style: preserve-3d;
      transition: opacity 0.3s linear;
      text-shadow: -10px 10px 9px black;
      width: 100%;
      bottom: 18%;
      .card0 {
        top: 6%;
      }

      .card1 {
        bottom: 34%;
      }

      .card2 {
        bottom: 47%;
      }

      .card3 {
        bottom: 75%;
      }
      .card4 {
        top: 6%;
      }

      .card5 {
        top: 6%;
      }
  
      .slideName,
      .slideUserName,
      .slideLastLogin,  
      .slideLastDeposit, 
      .slideWinnings,
      .slideEarnings, 
      .slideTips,
      .slideDescription {
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        width: 100%;
        padding-left: 11px;
        padding-right: 11px;
      }

      .fundsTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
      }

      .fundsTitle, 
      .fundingSource, 
      .slideCard, 
      .slideCardOnFile {
        bottom: 51%;
        line-height: 2;
      }

      .fundingSource {
        width: 50%;
        right: 25%;
      }

      .slideIconFlex {
        display: flex;
      }

      .slideIcon {
        height: 4em;
        width: 5em;
        top: 0px;
        left: 8%;
      }

      .bitCoin {
        top: 3px;
        left: 9%;
      }

      .payPal {
        bottom: 87px;
        left: 92%;
      }

      .visa {
        bottom: 177px;
        left: 184%;
      }

      .slideCard {
        left: -25%;
      }

      .slideCard, .slideCardOnFile {
        right: 0vw;
        width: 50%;
        line-height: 1;
      }

      .gamesTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        bottom: 77%;
      }

      .slideLastWin,
      .slideMostWins,
      .slideMostGames {
        bottom: 72%;
        width: 100%;
        line-height: 1.4;
      }

      .slideNumber {
        width: 100%;
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        bottom: 39vw;
      }

      .slideFunds,
      .fundsAmount {
        margin: 0;
        font-size: 1rem;
        letter-spacing: 0ch;
        left: 50%;
        width: 50%;
        bottom: 23vw;
        line-height: 2;
      }

      .addAmount {
        left: 25%;
        bottom: 18vw;
        width: 50%;
        line-height: 1.3;
      }

      .slideIframe {
        background: transparent;
        width: 116%;
        height: 111%;
        left: -25px;
        bottom: 12vw;
        position: absolute;
        top: 0px;
      }

      .iframeWrapper {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 50%;
        height: 37%;
        overflow: hidden;
        bottom: 8%;
        left: 0%;
      }

      .blackjackTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        bottom: 72vw;
      }

      .slideIframe2 {
        background-color: transparent;
        width: 87%;
        opacity: 0.8;
        height: 33%;
        bottom: 67vw;
      }

      // .blackjackTitle, 
      // .slideIframe2 {
      //   bottom: 87%;
      // }

      .pokerTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        bottom: 101vw;
      }

      .slideIframe3 {
        background-color: transparent;
        width: 87%;
        opacity: 0.8;
        height: 31%;
        bottom: 126%;
      }
      
      .slideTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0.0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        bottom: 82%;
      }
  
      .slideWelcome {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0.2ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        left: 0%;
      }

      .slideWelcome, .slideName {
        top: 5%;
        line-height: 3;
      }

      .slideBack {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 53%;
        text-align: left;
        left: 50%;
        bottom: 37px;
      }

      .slideName {
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: 0.2ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: center;
        left: 0%;
        z-index: 2;
      }

      .slideNewCard {
        width: 21em;
      }
  
      .slideUserName {
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.1ch;
        width: 100%;
      }

      .slideUserName,
      .slideLastLogin,  
      .slideLastDeposit, 
      .slideWinnings,
      .slideTips {
        bottom: 30%;
      }
    }

    .EEhamburger {
      margin:0 35% 0 35%;
      width: 9rem;
      height: auto;
      background: transparent;
      display:inline-block;
    }

    .EEhamburger, img {
      border-radius: 5px;
      height: auto;
      width: 4rem;
    }

    .shadowfilter {
      -webkit-filter: drop-shadow(0px 0px 0px #2d2c42b0);
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      
    }.shadowfilter:hover {
      -webkit-filter: drop-shadow(0px 0px 8px #919149); 
    }
  

  .slideContent {
    position: absolute;
      -webkit-transform: none;
      transform: none;
        color: #f5e7c9;
        background-color: #22274654;
        border: solid 1px #919149;
        border-radius: 15px;
        opacity: 0.85;
        text-align: justify;
        line-height: 2.4;
        width: 100%;
        height: 35vw;
      transition: opacity 0.7s ease,-webkit-transform .7s ease;
      transition: opacity 0.7s ease,transform .7s ease;
      transition: opacity 0.7s ease,transform .7s ease,-webkit-transform .7s ease;
    background-position: center center;
  
    display: grid;
    align-content: center;
  
    transform-style: preserve-3d;
    transform: perspective(2000px) translateX(calc(95% * var(--offset))) 
      rotateY(calc(-45deg * var(--dir)));
    // transform: perspective(1000px) translateX(calc(115% * var(--offset)))
    //   rotateY(calc(-35deg * var(--dir)));
  }

  .slide[data-active] {
    z-index: 2;
    pointer-events: auto;
  
    .slideBackground {
      opacity: 0.2;
      transform: none;
    }
  
    .slideContentInner {
      opacity: 0.85;
      height: 42%;
      bottom: 12%;

      .card0 {
        top: 6%;
      }

      .card1 {
        bottom: 67%;
      }

      .card2 {
        bottom: 113%;
      }

      .card3 {
        bottom: 180%;
      }
      .card4 {
        top: 6%;
      }

      .card5 {
        top: 6%;
      }

      .blackjackTitle {
        bottom: 68vw;
      }

      .slideIframe2 {
        bottom: 206%;
        height: 74%;
      }

      .slideIframe3 {
        bottom: 290%;
        height: 74%;
      }

      .pokerTitle {
        bottom: 97vw;
      }

      .iframeWrapper {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 50%;
        height: 73%;
        overflow: hidden;
        bottom: 20%;
        left: 0%;
      }

      .slideIframe {
        background: transparent;
        width: 116%;
        height: 112%;
        left: -25px;
        bottom: 12vw;
        position: absolute;
        top: 0px;
      }
    }
  
    .slideContent {
      --x: calc(var(--px) - 0.5);
      --y: calc(var(--py) - 0.5);
      opacity: 1;
  
      transform: perspective(1000px);
      background-color: #2d2c42b0;
      // -webkit-filter: drop-shadow(0px 0px 0px #918c65d4);
      //   -webkit-transition: all 0.5s linear;
      //   -o-transition: all 0.5s linear;
      //   transition: all 0.5s linear;
      &:hover {
        // background-color: #918c65d4;
        // -webkit-filter: drop-shadow(0px 0px 8px #918c65d4);
        transition: none;
        transform: perspective(1000px) rotateY(calc(var(--x) * 5deg))
          rotateX(calc(var(--y) * -5deg));
      }
    }
  }